body {
    font-family: "Domestic Manners";
}

#assignment-instructions {
    color: #0027ef;
    font-family: sans-serif;
}

.second-line code {
    color: #11f800;
}

code {
    font-family: monospace;
    color: #ff1b68;
}
.black-background {
    background-color: black;
    color: white;
}

ol > li {
    background-color: black;
    color: white;
}

