* {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.box1 {
    display: none;
    flex-direction: row;
   border: 5px solid black;
    padding: 150px 20px 15px 2px;
    margin: 2px 5px 7px 20px;
    width: 300px;
    height: 300px;
    justify-content: center;
}

.box2 {
    display: flex;
    border: 5px solid black;
    padding: 150px 20px 15px 2px;
    margin: 2px 5px 7px 20px;
    width: 300px;
    height: 300px;
    justify-content: center;
}

.box2:hover {
    background-color: lightgreen;
    border: 5px solid red;
}